extends app-layout

block content
  .section
    .m.m8
      .banner
        img(src='/images/banner/collection-1.jpg')
      .footer
        h3.title Horror
        p.desc A collection of scary comics and novels await you.
    .m.m8
      .banner
        img(src='/images/banner/collection-2.jpg')
      .footer
        h3.title Fall Into Romance
        p.desc Don't those fall colors get you feelin' some sort of way? Could it be...love?
    .m.m8
      .banner
        .thumbs
          img(src='https://d30womf5coomej.cloudfront.net/sa/8d/1582547a-8598-4004-9bf6-4db923882650_m.jpg')
          img(src='https://d30womf5coomej.cloudfront.net/sa/eb/86693f09-38fd-40bf-afc1-f0cee29db28d_m.jpg')
          img(src='https://d30womf5coomej.cloudfront.net/sa/89/09d9e2ae-28ba-4ea7-b469-35ea3ff1ffa4_m.jpg')
          img(src='https://d30womf5coomej.cloudfront.net/sa/09/98be4d1d-7c5b-4240-9b27-6f73971911b7_m.jpg')
          img(src='https://d30womf5coomej.cloudfront.net/sa/4e/756180eb-9619-4348-b736-77486a4f609d_m.jpg')
          img(src='https://d30womf5coomej.cloudfront.net/sa/7b/db47ee65-2003-4086-a3b4-ae396a13b961_m.jpg')
      .footer
        h3.title MXM
        p.desc Meet the Masters from the world of MXM!
    .m.m8
      .banner
        img(src='/images/banner/collection-3.jpg')
      .footer
        h3.title Ice Cold Collection
        p.desc Chilling stories and cold characters fit for the winter.
