extends app-layout

block content
  .section.no-bg
    .hero
      p note: something can be here.. (sorting option, banner?)
    .creators
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/67/3f/06/cc/c7ae14da788748b6b45f4df61913f044.jpg')
          a.badge.badge-light Since Dec 2014
        .media-body
          h5.name Pigeoneer Jane
          p.quote "Filipino Canadian comic artist."
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title The Pigeon Gazette <small class="small">and 2 more</small>
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num 59.3k
            img(src='/images/ico-tipper.png' width=15 height=12 class='ico')
            span.num 3.1k
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/15/72e79b2c-1223-4381-afa8-37046539bb46.jpg')
          a.badge.badge-light Since Apr 2015
        .media-body
          h5.name deya muniz
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title Brutally Honest <small class="small">and 2 more</small>
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num 54.1k
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/04/441fb3bf-acd7-4371-91c8-eaa31561e998.jpg')
          a.badge.badge-light Since Mar 2016
        .media-body
          a.badge.badge-warning PREMIUM
          h5.name Bi Chu
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title They Say I Was Born a King's Daughter
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num 59.3k
            img(src='/images/ico-tipper.png' width=15 height=12 class='ico')
            span.num 3.1k
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/50/cdfbce29-a8b8-4f40-8935-ca0f10431ca1.png')
          a.badge.badge-light Since Nov 2013
        .media-body
          h5.name EnzoComics
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title Dungeon Construction Co. <small class="small">and 1 other</small>
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num 59.3k
            img(src='/images/ico-tipper.png' width=15 height=12 class='ico')
            span.num 3.1k
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/60/2d/e5/f1/b5056df1c0c04cd19dc0c9e493091f59.jpg')
          a.badge.badge-light Since Oct 2013
        .media-body
          a.badge.badge-warning PREMIUM
          h5.name DarkBox
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title Silent Horror Z <small class="small">and 8 more</small>
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num 59.3k
            img(src='/images/ico-tipper.png' width=15 height=12 class='ico')
            span.num 3.1k
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/f8/1c/27/2a/c9ee2a72de9e4964b8d204188ef49854.jpg')
          a.badge.badge-light Since Apr 2013
        .media-body
          a.badge.badge-primary LEGEND
          h5.name Samantha Whitten
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title the GaMERCaT <small class="small">and 1 other</small>
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num 128.8k
            img(src='/images/ico-tipper.png' width=15 height=12 class='ico')
            span.num 4k
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/98/63/1c/21/41420641887c4510b80d6d0b3e9616a1.jpg')
          a.badge.badge-light Since Oct 2013
        .media-body
          h5.name Sarah Andersen
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title Sarah's Scribbles <small class="small">and 1 other</small>
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num  150.8k
      .creator.media
        .img-wrap
          img(src='https://d30womf5coomej.cloudfront.net/ua/fc/547e8f02-4fc1-461a-8171-fdebf523f95d.jpg')
          a.badge.badge-light Since Jul 2012
        .media-body
          a.badge.badge-info ROOKIE
          h5.name Yoon
          p.quote "Life is too hard.."
          p.series
            img(src='/images/ico-series.png' width=14 height=14 class='ico')
            span.title Hello world <small class="small">and 1 other</small>
          p.stats
            img(src='/images/ico-view.png' width=15 height=12 class='ico')
            span.num 113.3k
            img(src='/images/ico-subs.png' width=15 height=12 class='ico')
            span.num 11
