extends app-layout
block scripts
  script(src='/javascripts/discover.js')

block content
  .section
    h1.s-header For you <img src="/images/settings.png" width=16 height=16 class="float-right">
    .m.m1
      .header
        p.card-label.kaki New Release
        h3.title Body for Rent
      #top-carousel.carousel.slide(data-interval='false')
        ol.carousel-indicators
          li.active(data-slide-to="0" data-target="#top-carousel")
          li(data-slide-to="1" data-target="#top-carousel")
          li(data-slide-to="2" data-target="#top-carousel")
          li(data-slide-to="3" data-target="#top-carousel")
          li(data-slide-to="4" data-target="#top-carousel")
          li(data-slide-to="5" data-target="#top-carousel")
          li(data-slide-to="6" data-target="#top-carousel")
          li(data-slide-to="7" data-target="#top-carousel")
        .carousel-inner
          .carousel-item.active
            img(src='/images/carousel/b/1.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/b/2.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/b/3.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/b/4.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/b/5.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/b/6.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/b/7.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/b/8.jpg' class='d-block w-100')
        a(href='#top-carousel' class='carousel-control-prev' data-slide='prev')
          .carousel-control-prev-icon
        a(href='#top-carousel' class='carousel-control-next' data-slide='next')
          .carousel-control-next-icon
      .cta
        p.mb-0 Read now <span class='float-right'>&gt;</span>
      .footer
        p Chasing the "perfect" body? Want it instantly? It can be done, but it’ll cost you...
        p.mb-0
          img(src='/images/view.png' width=18 height=12)
          | &nbsp;15.1k
          img(src='/images/bookmarked.png' width=12 height=18 class='ml-3')
          | &nbsp;11k
    .m.m1
      .header
        p.card-label.free Free Gift
        h3.title The Time We Have
      #sec-carousel.carousel.slide(data-interval='false')
        ol.carousel-indicators
          li.active(data-slide-to="0" data-target="#sec-carousel")
          li(data-slide-to="1" data-target="#sec-carousel")
          li(data-slide-to="2" data-target="#sec-carousel")
          li(data-slide-to="3" data-target="#sec-carousel")
          li(data-slide-to="4" data-target="#sec-carousel")
          li(data-slide-to="5" data-target="#sec-carousel")
          li(data-slide-to="6" data-target="#sec-carousel")
        .carousel-inner
          .carousel-item.active
            img(src='/images/carousel/a/1.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/a/2.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/a/3.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/a/4.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/a/5.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/a/6.jpg' class='d-block w-100')
          .carousel-item
            img(src='/images/carousel/a/7.jpg' class='d-block w-100')
        a(href='#sec-carousel' class='carousel-control-prev' data-slide='prev')
          .carousel-control-prev-icon
        a(href='#sec-carousel' class='carousel-control-next' data-slide='next')
          .carousel-control-next-icon
      .cta
        p.mb-0 Get a free episode <span class='float-right'>&gt;</span>
      .footer
        p
          | What would you do if your loved one returned from the dead...as your student?!
          a(href="#romance") &nbsp;#romance
    .m.m2
      .header
        p.card-label.free Free Gift
        h3.title Demons Can't Be Pretty
      .banner
        img(src='/images/banner/b.jpg')
      .cta
        p.mb-0 Sign up now and get free gift<span class='float-right'>&gt;</span>
      .footer
        p
          | Readers are freaking out over the latest episode of "Demons Can't Be Pretty"! 😈 See what they're saying about this hit series that's gained over 11k followers in less than a week!
          a(href="#romance") &nbsp;#tapasoriginal
        p.mb-0
          img(src='/images/view.png' width=18 height=12)
          | &nbsp;15.1k
          img(src='/images/bookmarked.png' width=12 height=18 class='ml-3')
          | &nbsp;11k

    .m.m3
      .header
        p.card-label.big Daily Snack
      .viewport
        .items
          .item
            .wrap
              .i-header
                p.sub-title Spores Ep.1
                h3.title 1. Our Supermarket
              .img-wrap
                img(src='/images/daily/1.jpg')
          .item
            .wrap
              .i-header
                p.sub-title Silent Screams Ep.2
                h3.title Part 1
              .img-wrap
                img(src='https://d30womf5coomej.cloudfront.net/sa/17/47303a89-5f37-4616-8c72-399149330cd6.png')
          .item
            .wrap
              .i-header
                p.sub-title Children of the Waste Ep.1
                h3.title Total Darkness
              .img-wrap
                div(class='text-wrap' style='background-image: url(https://d30womf5coomej.cloudfront.net/sa/bc/a31d6f53-bf2a-4983-ac1c-bedb1969bea2.png)')
                p.quote "I’m sorry. I’m so sorry," he said, holding back tears of his own.
          .item
            .wrap
              .i-header
                p.sub-title Blood is Drawn Ep.1
                h3.title Wake Up
              .img-wrap
                img(src='https://d30womf5coomej.cloudfront.net/sa/69/9139bb3c-931f-4c43-b8f6-722c3877eb1d.png')
          .item
            .wrap
              .i-header
                p.sub-title Urban Fear Ep.1
                h3.title Knock Knock - Cover & Part 1
              .img-wrap
                img(src='https://d30womf5coomej.cloudfront.net/sa/7d/1c2e2fd1-3d76-4bc0-bc56-f82952259239.png')

          .item.empty
    h1.s-header.mt-3 Sales
    .m.m4
      .viewport
        .items
          .item.empty
          .item
            .wrap
              img(src='https://d30womf5coomej.cloudfront.net/sa/57/ebc5b4b6-3114-4300-be89-0da8b6c6abb3_z.jpg')
              .series-sale-label Save 50%
              .desc
                h3.title Eve
                p.author Eunyou
          .item
            .wrap
              img(src='https://d30womf5coomej.cloudfront.net/sa/d7/d80a9f83-4f92-4c41-85ec-f2a507670bca_z.jpg')
              .series-sale-label Save 30%
              .desc
                h3.title Body for Rent
                p.author Zephygaru
          .item.empty
    h1.s-header.mt-3 Popular
      .right.float-right
        small.ml-2.comic Comics
        small.gray &nbsp;|&nbsp;
        small.not.novel Novels
    .m.m4
      .viewport
        .items.js-popular
    h1.s-header.mt-3 Trending
      .right.float-right
        small.ml-2.comic Comics
        small.gray &nbsp;|&nbsp;
        small.not.novel Novels
    .m.m5
      .viewport
        .items.js-trending
          .item.empty
          .item
            .wrap.js-first
          .item
            .wrap.js-second
          .item.empty
    h1.s-header.mt-3 New Updates
      .right.float-right
          small.ml-2.not.comic Comics
          small.gray &nbsp;|&nbsp;
          small.novel Novels
    .m.m4
      .viewport
        .items.js-new-update.small
    h1.s-header.mt-3 Categories
    .m.m6
      .items
        .item
          .tag #action
        .item
          .tag #comedy
        .item
          .tag #drama
        .item
          .tag #fantasy
        .item
          .tag #gaming
        .item
          .tag #horror
        .item
          .tag #mystery
        .item
          .tag #romance
        .item
          .tag #science fiction
        .item
          .tag #slice of life
        .item
          .tag #THOMAS
    h1.s-header.mt-3 Weekly Calendar
      .right.float-right
        small.seeall See all
    .m.m5
      .viewport
        .items.align-items-end.small.js-weekly
          .item.empty
          .item
            .item-label
              .item-label-inner.today Friday
            .wrap.js-fri
          .item
            .item-label
              .item-label-inner Saturday
            .wrap.js-sat
          .item
            .item-label
              .item-label-inner Sunday
            .wrap.js-sun
          .item
            .item-label
              .item-label-inner Monday
            .wrap.js-mon
          .item
            .item-label
              .item-label-inner Tuesday
            .wrap.js-tue
          .item
            .item-label
              .item-label-inner Wednesday
            .wrap.js-wed
          .item
            .item-label
              .item-label-inner Thursday
            .wrap.js-thr
          .item.empty

    h1.s-header.mt-3 Explore more
    .m.m7
      .items
        .item
          .name
            a(href='/apps/comic-home') Community Comics
          .arrow &gt;
        .item
          .name
            a(href='/apps/novel-home') Community Novels
          .arrow &gt;
        .item
          .name
            a(href='/apps/collections') Collections
          .arrow &gt;
        .item
          .name Creators
          .arrow &gt;
