body {
  font-family: 'Quicksand', var(--font-family-sans-serif);
  color: #262636;
}
img {
  max-width: 100%;
}
.g-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #262636;
  width: 100%;
  color: white;
  z-index: 11;
  .screen-name {
    text-align: center;
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  &.comic {
    background-color: #F6B606;
    .bar {
      border: 2px solid #5C4712;
      background-color: #5C4712;
      a {
        color: #F8BA0D;
      }
      .label.activate {
        background-color: #F6B606;
      }
    }
  }
  &.novel {
    background-color: #26b6b6;
    .bar {
      border: 2px solid #144550;
      background-color: #144550;
      a {
        color: #2FB4B3;
      }
      .label.activate {
        background-color: #26b6b6;
      }
    }
  }
  &.sub {
    top: 50px;
  }
  .segment {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    .bar {
      border-radius: 20px;
      width: 70%;
      display: flex;
      font-weight: 500;
      .label {
        width: 50%;
        &.activate {
          a {
            color: white;
          }
          border-radius: 20px;
        }
      }
    }
  }
}

.content {
  margin: 50px 0;
  z-index: 10;
  position: relative;
  &.has-sub {
    margin-top: 100px;
  }
}

.tabbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: white;
  border-top: 1px solid #ccc;
  width: 100%;
  z-index: 11;
  .tabbar-item {
    font-weight: 400;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    width: auto;
    border-radius: 0;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      text-align: center;
      width: 100%;
      &:not(.selected) {
        color: #262636;
      }
    }
  }
}
.section {
  background-color: #F2F2F2;
  &.no-bg {
    background-color: white;
  }
  .s-header {
    font-weight: 700;
    margin-bottom: 0;
    padding: 16px;
    font-size: 24px;
    background-color: white;
    /*border-bottom: 1px solid #e6ecf0;*/
    .not {
      color: #ccc !important;
    }
    .gray {
      color: #F2F2F2;
    }
    .comic {
      color: #F6B606;
    }
    .novel {
      color: #26b6b6;
    }
    .seeall {
      font-size: 14px;
      color: var(--blue);
    }
  }
}
.m {
  background-color: white;
  color: #262636;
  margin-bottom: 10px;
  .header {
    padding: 10px 16px;
    .title {
      font-size: 20px;
      margin: 0;
    }
    .card-label {
      font-weight: 500;
      font-size: 12px;
      color: #868696;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      &.free {
        color: #F6B606;
      }
      &.kaki {
        color: #F68606;
      }
      &.big {
        font-size: 16px;
        color: #262636;
      }
    }
  }
  .footer {
    padding: 10px 16px;
    .title {
      font-size: 20px;
    }
    .card-label {
      font-weight: 500;
      font-size: 12px;
      color: #868696;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      &.free {
        color: #F6B606;
      }
    }
  }
  .cta {
    padding: 10px 16px;
    border-bottom: 1px solid #f2f2f2;
    p {
      margin-bottom: 0;
      color: #464656;
      font-weight: bold;
    }
  }
}
.m3 {
  .viewport {
    overflow-x: auto;
    font-size: 0;
  }
  .items {
    padding: 0;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-flex;
    .item {
      padding-left: 16px;
      display: flex;
      flex-shrink: 0;
      width: 90%;
      &.empty {
        width: 0;
      }
      .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        .sub-title {
          font-weight: 500;
          font-size: 12px;
          color: #868696;
          margin-bottom: 0;
        }
        .title {
          font-size: 14px;
        }
        .img-wrap {
          overflow: hidden;
          border-radius: 5px;
          height: 100%;
          position: relative;
          flex: 1;
        }
        .text-wrap {
          height: 100%;
          background-size: cover;
          filter: blur(10px);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .quote {
          margin: 0;
          padding: 0 10px;
          font-size: 20px;
          transform: translateY(-50%);
          top: 50%;
          position: absolute;
          color: white;
          text-align: center;
        }
      }
    }
  }
}
.m4 {
  .viewport {
    overflow-x: auto;
    font-size: 0;
    padding-bottom: 10px;
  }
  .items {
    width: 100%;
    display: inline-flex;
    font-size: 14px;
    &.small {
      .item {
        width: 28%;
      }
    }
    .item {
      margin-right: 10px;
      flex-shrink: 0;
      width: 50%;

      &.empty {
        width: 0;
      }
      &:first-child.empty {
        margin-right: 16px;
      }
      &:last-child.empty {
        padding-right: 6px;
      }
      .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
      }
      .desc {
        padding: 5px 5px 0 5px;
      }
      .title {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
      }
      .author {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #868696;
        margin: 0;
      }
      .up {
        font-size: 12px;
        margin-bottom: 0;
        color: #868696;
      }
      .series-sale-label {
        background-color: #F64656;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 24px;
        text-align: center;
        margin-bottom: 8px;
        width: 81px;
        height: 24px;
        font-weight: 700 !important;
        position: absolute;
        bottom: 60px;
        right: 0;
        border-radius: 2px 0 0 2px;
      }
    }
  }
}
.m5 {
   .viewport {
    overflow-x: auto;
    font-size: 0;
    padding-bottom: 20px;
  }
  .items {
    font-size: 14px;
    width: 100%;
    display: inline-flex;
    .item {
      margin-right: 10px;
      flex-shrink: 0;
      width: 85%;
      &.empty {
        width: 0;
      }
      &:first-child.empty {
        margin-right: 16px;
      }
      &:last-child.empty {
        padding-right: 6px;
      }
      .item-label {
        margin-bottom: 10px;
        padding-top: 2px;
        .item-label-inner {
          font-weight: 500;
          &.today {
            color: #F68606;
          }
        }
      }
      .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .arow {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .num {
        width: 15px;
        font-weight: 500;
        margin-right: 5px;
      }
      .desc {
        padding-left: 10px;
        width: 70%;
      }
      .title {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
      }
      .author {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #868696;
        margin-bottom: 5px;
      }
      .stats {
        color: #868696;
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}
.m6 {
  .items {
    font-size: 14px;
    width: 100%;
    padding: 0 0 10px 16px;
    .item {
      display: inline-block;
      margin: 0 7px 10px 0;
      .tag {
        padding: 5px 10px;
        background-color: #f2f2f2;
        border-radius: 20px;
        white-space: nowrap;
        font-weight: 500;
      }
    }
  }
}
.m7 {
  .item {
    padding: 16px;
    border-bottom: 1px solid #e6ecf0;
    display: flex;
    justify-content: space-between;
  }
}
.m8 {
  .banner {
    .thumbs {
      img {
        width: 33.333%;
      }
    }
  }
  .title {
    font-size: 20px;
  }
  .desc {
    font-size: 14px;
    color: #262636;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.um {
  .viewport {
    overflow-x: auto;
    font-size: 0;
  }
  .items {
    padding: 0;
    font-size: 14px;
    display: inline-flex;
    .item {
      padding-left: 16px;
      display: flex;
      flex-shrink: 0;
      width: 116px;
      &.empty {
        width: 0;
      }
      .wrap {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        .sub-title {
          font-weight: 500;
          font-size: 12px;
          color: #868696;
          margin-bottom: 0;
        }
        .title {
          margin-top: 10px;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 0;
        }
        .author {
          margin-bottom: 0;
          color: #868696;
        }
      }
    }
  }
}
.hero {
  height: 150px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}
.creators {
  .creator {
    margin: 0 10px;
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 0;
    .img-wrap {
      position: relative;
      .badge {
        font-weight: 500;
        font-size: 10px;
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
      }
      img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        border: 1px solid #f2f2f2;
      }
    }
    .media-body {
      margin-left: 15px;
      position: relative;
      .badge {
        right: 0;
        position: absolute;
        top: -15px;
        border-radius: 0 0 5px 5px;
        color: #FFFFFF;
      }
    }
    .name {
      margin-bottom: 5px;
    }
    .quote {
      font-size: 12px;
      color: #868696;
      margin-bottom: 3px;
    }
    .series {
      margin-bottom: 10px;
      display: flex;
      align-items: baseline;
      .title {
        margin-left: 5px;
        .small {
          color: var(--secondary);
        }
      }
    }
    .stats {
      margin-bottom: 0;
      font-size: 14px;
      display: flex;
      align-items: center;
      line-height: 1;
      .ico {
        margin-right: 3px;
      }
      .num {
        font-size: 12px;
        margin-right: 8px;
        color: #868696;
      }
    }
  }
}
