body {
  font-family: "Quicksand", var(--font-family-sans-serif);
  color: #262636; }

img {
  max-width: 100%; }

.g-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #262636;
  width: 100%;
  color: white;
  z-index: 11; }
  .g-header .screen-name {
    text-align: center;
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500; }

.content {
  margin: 50px 0;
  z-index: 10;
  position: relative; }

.tabbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: white;
  border-top: 1px solid #ccc;
  width: 100%;
  z-index: 11; }
  .tabbar .tabbar-item {
    font-weight: 400;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    width: auto;
    border-radius: 0;
    display: flex;
    align-items: center; }
    .tabbar .tabbar-item a {
      display: inline-block;
      text-align: center;
      width: 100%; }
      .tabbar .tabbar-item a:not(.selected) {
        color: #262636; }

.section {
  background-color: #F2F2F2; }
  .section .s-header {
    font-weight: 700;
    margin-bottom: 0;
    padding: 16px;
    font-size: 24px;
    background-color: white;
    /*border-bottom: 1px solid #e6ecf0;*/ }
    .section .s-header .not {
      color: #ccc !important; }
    .section .s-header .gray {
      color: #F2F2F2; }
    .section .s-header .comic {
      color: #F6B606; }
    .section .s-header .novel {
      color: #26b6b6; }

.m {
  background-color: white;
  color: #262636;
  margin-bottom: 10px; }
  .m .header {
    padding: 10px 16px; }
    .m .header .title {
      font-size: 20px;
      margin: 0; }
    .m .header .card-label {
      font-weight: 500;
      font-size: 12px;
      color: #868696;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between; }
      .m .header .card-label.free {
        color: #F6B606; }
      .m .header .card-label.kaki {
        color: #F68606; }
      .m .header .card-label.big {
        font-size: 16px;
        color: #262636; }
  .m .footer {
    padding: 10px 16px; }
    .m .footer .title {
      font-size: 20px; }
    .m .footer .card-label {
      font-weight: 500;
      font-size: 12px;
      color: #868696;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between; }
      .m .footer .card-label.free {
        color: #F6B606; }
  .m .cta {
    padding: 10px 16px;
    border-bottom: 1px solid #f2f2f2; }
    .m .cta p {
      margin-bottom: 0;
      color: #464656;
      font-weight: bold; }

.m2 .banner img {
  max-width: 100%; }

.m3 .viewport {
  overflow-x: auto;
  font-size: 0; }

.m3 .items {
  padding: 0;
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-flex; }
  .m3 .items .item {
    padding-left: 16px;
    display: flex;
    flex-shrink: 0;
    width: 90%; }
    .m3 .items .item.empty {
      width: 0; }
    .m3 .items .item .wrap {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .m3 .items .item .wrap .sub-title {
        font-weight: 500;
        font-size: 12px;
        color: #868696;
        margin-bottom: 0; }
      .m3 .items .item .wrap .title {
        font-size: 14px; }
      .m3 .items .item .wrap .img-wrap {
        overflow: hidden;
        border-radius: 5px;
        height: 100%;
        position: relative;
        flex: 1; }
      .m3 .items .item .wrap .text-wrap {
        height: 100%;
        background-size: cover;
        filter: blur(10px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      .m3 .items .item .wrap .quote {
        margin: 0;
        padding: 0 10px;
        font-size: 20px;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        color: white;
        text-align: center; }

.m4 .viewport {
  overflow-x: auto;
  font-size: 0;
  padding-bottom: 10px; }

.m4 .items {
  width: 100%;
  display: inline-flex;
  font-size: 14px; }
  .m4 .items.small .item {
    width: 28%; }
  .m4 .items .item {
    margin-right: 10px;
    flex-shrink: 0;
    width: 50%; }
    .m4 .items .item.empty {
      width: 0; }
    .m4 .items .item:first-child.empty {
      margin-right: 16px; }
    .m4 .items .item:last-child.empty {
      padding-right: 6px; }
    .m4 .items .item .item-label {
      margin-bottom: 5px;
      padding-top: 2px; }
      .m4 .items .item .item-label .item-label-inner {
        font-weight: 500;
        border: 1px solid #e6ecf0;
        padding: 2px 4px;
        border-radius: 5px; }
    .m4 .items .item .wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative; }
    .m4 .items .item .desc {
      padding: 5px 5px 0 5px; }
    .m4 .items .item .title {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 5px; }
    .m4 .items .item .author {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #868696;
      margin: 0; }
    .m4 .items .item .up {
      font-size: 12px;
      margin-bottom: 0;
      color: #868696; }
    .m4 .items .item .series-sale-label {
      background-color: #F64656;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 24px;
      text-align: center;
      margin-bottom: 8px;
      width: 81px;
      height: 24px;
      font-weight: 700 !important;
      position: absolute;
      bottom: 60px;
      right: 0;
      border-radius: 2px 0 0 2px; }

.m5 .viewport {
  overflow-x: auto;
  font-size: 0;
  padding-bottom: 20px; }

.m5 .items {
  font-size: 14px;
  width: 100%;
  display: inline-flex; }
  .m5 .items .item {
    margin-right: 10px;
    flex-shrink: 0;
    width: 85%; }
    .m5 .items .item.empty {
      width: 0; }
    .m5 .items .item:first-child.empty {
      margin-right: 16px; }
    .m5 .items .item:last-child.empty {
      padding-right: 6px; }
    .m5 .items .item .wrap {
      width: 100%;
      display: flex;
      flex-direction: column; }
    .m5 .items .item .arow {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .m5 .items .item .arow:last-child {
        margin-bottom: 0; }
    .m5 .items .item .num {
      width: 15px;
      font-weight: 500;
      margin-right: 5px; }
    .m5 .items .item .desc {
      padding-left: 10px;
      width: 70%; }
    .m5 .items .item .title {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 5px; }
    .m5 .items .item .author {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #868696;
      margin-bottom: 5px; }
    .m5 .items .item .stats {
      color: #868696;
      font-size: 12px;
      margin-bottom: 0; }

.m6 .items {
  font-size: 14px;
  width: 100%;
  padding: 0 0 10px 16px; }
  .m6 .items .item {
    display: inline-block;
    margin: 0 7px 10px 0; }
    .m6 .items .item .tag {
      padding: 5px 10px;
      background-color: #f2f2f2;
      border-radius: 20px;
      white-space: nowrap;
      font-weight: 500; }

.m7 .item {
  padding: 16px;
  border-bottom: 1px solid #e6ecf0;
  display: flex;
  justify-content: space-between; }

/*# sourceMappingURL=style.css.map */