body {
  font-family: 'Quicksand', var(--font-family-sans-serif);
  color: #262636;
}
img {
  max-width: 100%;
}
.g-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #262636;
  width: 100%;
  color: white;
  z-index: 11;
  .screen-name {
    text-align: center;
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
}

.content {
  margin: 50px 0;
  z-index: 10;
  position: relative;
}

.tabbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: white;
  border-top: 1px solid #ccc;
  width: 100%;
  z-index: 11;
  .tabbar-item {
    font-weight: 400;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    width: auto;
    border-radius: 0;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      text-align: center;
      width: 100%;
      &:not(.selected) {
        color: #262636;
      }
    }
  }
}
.section {
  background-color: #F2F2F2;
  .s-header {
    font-weight: 700;
    margin-bottom: 0;
    padding: 16px;
    font-size: 24px;
    background-color: white;
    /*border-bottom: 1px solid #e6ecf0;*/
    position: sticky;
    top: 50px;
    z-index: 99;
  }
}
.m {
  background-color: white;
  color: #262636;
  margin-bottom: 10px;
  .header {
    padding: 10px 16px;
    .title {
      font-size: 20px;
      margin: 0;
    }
    .card-label {
      font-weight: 500;
      font-size: 12px;
      color: #868696;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      &.free {
        color: #F6B606;
      }
      &.kaki {
        color: #F68606;
      }
      &.big {
        font-size: 16px;
        color: #262636;
      }
    }
  }
  .footer {
    padding: 10px 16px;
    .title {
      font-size: 20px;
    }
    .card-label {
      font-weight: 500;
      font-size: 12px;
      color: #868696;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      &.free {
        color: #F6B606;
      }
    }
  }
  .cta {
    padding: 10px 16px;
    border-bottom: 1px solid #f2f2f2;
    p {
      margin-bottom: 0;
      color: #464656;
      font-weight: bold;
    }
  }
}
.m2 {
  .banner {
    img {
      max-width: 100%;
    }
  }
}
.m3 {
  .viewport {
    overflow-x: auto;
  }
  .items {
    padding: 0;
    margin-bottom: 10px;
    display: inline-flex;
    .item {
      padding-left: 16px;
      display: flex;
      flex-shrink: 0;
      width: 90%;
      &.empty {
        width: 0;
      }
      .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        .sub-title {
          font-weight: 500;
          font-size: 12px;
          color: #868696;
          margin-bottom: 0;
        }
        .title {
          font-size: 14px;
        }
        .img-wrap {
          overflow: hidden;
          border-radius: 5px;
          height: 100%;
          position: relative;
          flex: 1;
        }
        .text-wrap {
          height: 100%;
          background-size: cover;
          filter: blur(10px);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .quote {
          margin: 0;
          padding: 0 10px;
          font-size: 20px;
          transform: translateY(-50%);
          top: 50%;
          position: absolute;
          color: white;
          text-align: center;
        }
      }
    }
  }
}
.m4 {
  .viewport {
    overflow-x: auto;
  }
  .items {
    width: 100%;
    display: inline-flex;
    .item {
      margin-right: 10px;
      flex-shrink: 0;
      width: 50%;
      &.empty {
        width: 0;
      }
      .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .desc {
        padding: 5px;
      }
      .title {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
      }
      .author {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #868696;
        margin: 0;
      }
    }
  }
}
.m5 {
   .viewport {
    overflow-x: auto;
  }
  .items {
    width: 100%;
    display: inline-flex;
    .item {
      margin-right: 10px;
      flex-shrink: 0;
      width: 85%;
      &.empty {
        width: 0;
      }
      .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .arow {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      .num {
        width: 15px;
        font-weight: 500;
        margin-right: 5px;
      }
      .desc {
        padding-left: 10px;
        width: 70%;
      }
      .title {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
      }
      .author {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #868696;
        margin-bottom: 5px;
      }
      .stats {
        color: #868696;
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }

}
